# **Introduction to Numpy**

## **Stat 112 - Recitation 6**

> Ozancan Ozdemir - ozancan@metu.edu.tr

This document is created using the following sources. 

[CS231-Stanford University](https://cs231n.github.io/python-numpy-tutorial/#numpy)

[NumPy](https://numpy.org/)

[Jay Alamar's Blog](http://jalammar.github.io/visual-numpy/)

<p><img alt="Colaboratory logo" height="45px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" align="left" hspace="10px" vspace="0px"></p>

# Introduction

 
Python is a great general-purpose programming language on its own, but with the help of a few popular libraries (numpy, scipy, matplotlib) it becomes a powerful environment for scientific computing.

**A Brief Note on Python Versions**

As of Janurary 1, 2020, Python has [officially dropped support](https://www.python.org/doc/sunset-python-2/) for `python2`. We'll be using Python 3.7 for this iteration of the course. In Colab, we can enforce the Python version by clicking `Runtime -> Change Runtime Type` and selecting `python3`.  Colab uses Python 3.7.15 which should run everything without any errors.

In [1]:
import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

<p><img alt="Colaboratory logo" height="45px" src="https://colab.research.google.com/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

## Google Colab

Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud. With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

You can see several guide about Google Colab for beginners. 

- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)

<p><img alt="Numpy logo" height="45px" src="" align="left" hspace="10px" vspace="0px"></p>

## Introduction to Numpy

NumPy (Numerical Python) is an open source Python library that’s used in almost every field of science and engineering. It’s the universal standard for working with numerical data in Python, and it’s at the core of the scientific Python and PyData ecosystems. NumPy users include everyone from beginning coders to experienced researchers doing state-of-the-art scientific and industrial research and development. The NumPy API is used extensively in Pandas, SciPy, Matplotlib, scikit-learn, scikit-image and most other data science and scientific Python packages.

The NumPy library contains multidimensional array and matrix data structures (you’ll find more information about this in later sections). It provides ndarray, a homogeneous n-dimensional array object, with methods to efficiently operate on it. NumPy can be used to perform a wide variety of mathematical operations on arrays. It adds powerful data structures to Python that guarantee efficient calculations with arrays and matrices and it supplies an enormous library of high-level mathematical functions that operate on these arrays and matrices.

To use Numpy, we first need to import the numpy package:

In [2]:
import numpy as np # import the numpy package

We shorten the imported name to np for better readability of code using NumPy. This is a widely adopted convention that you should follow so that anyone working with your code can easily understand it.

A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.

We can create a `numpy` array by passing a Python list to `np.array()`. Note that NumPy’s array class is called `ndarray`.

In [3]:
a = np.array([1, 2, 3])  # Create a rank 1 array (1D array)

This creates the array we can see on the right here:

![](http://jalammar.github.io/images/numpy/create-numpy-array-1.png)

In [4]:
print(type(a), a.shape, a[0], a[1], a[2])
a[0] = 5                 # Change an element of the array
print(a)

<class 'numpy.ndarray'> (3,) 1 2 3
[5 2 3]

To create a `numpy` array with more dimensions, we can pass nested
lists, like this:

![](http://jalammar.github.io/images/numpy/numpy-array-create-2d.png)

![](http://jalammar.github.io/images/numpy/numpy-3d-array.png)

In [5]:
b = np.array([[1,2],[3,4]])   # Create a rank 2 array
print(b)

[[1 2]
 [3 4]]

### The Attributes of Array Objects in Numpy

In [6]:
#ndarray.function
print(b.ndim) #the number of axes

2

In [7]:
print(b.shape) #the number of axes. it is a tuple of integers indicating the size of the array in each dimension

(2, 2)

In [8]:
print(b.size) #total number of elements in the array

4

In [9]:
print(b.dtype)

int32

#### Exercise 3 

Create a 2*3 array whose entries are 

1,2,0

0,4,0.

**Answer:**

### Creating Special Arrays

There are often cases when we want numpy to initialize the values of the
array for us. numpy provides methods like `ones()`, `zeros()`, and
`random.random()` for these cases. We just pass them the number of
elements we want it to generate:

![](http://jalammar.github.io/images/numpy/create-numpy-array-ones-zeros-random.png)

We can also use these methods to produce multi-dimensional arrays, as
long as we pass them a tuple describing the dimensions of the matrix we
want to create:

![](http://jalammar.github.io/images/numpy/numpy-matrix-ones-zeros-random.png)

![](http://jalammar.github.io/images/numpy/numpy-3d-array-creation.png)

Sometimes, we need an array of a specific shape with “placeholder”
values that we plan to fill in with the result of a computation. The
`zeros` or `ones` functions are handy for this:

In [10]:
a = np.zeros((2,2))  # Create an array of all zeros
print(a)

[[0. 0.]
 [0. 0.]]

In [11]:
b = np.ones((1,2))   # Create an array of all ones
print(b)

[[1. 1.]]

In [12]:
c = np.full((2,2), 7) # Create a constant array
print(c)

[[7 7]
 [7 7]]

In [13]:
d = np.eye(2)        # Create a 2x2 identity matrix
print(d)

[[1. 0.]
 [0. 1.]]

In [14]:
e = np.random.random((2,2)) # Create an array filled with random values
print(e)

[[0.01421592 0.22729519]
 [0.49868066 0.19775811]]

#### Exercise 4 

a) Create a null vector of size 10 but the fifth value which is 1

**Answer:**

b) Create a 3x3 identity matrix

**Answer:**

c) Create a 3x3x3 array with random values

**Answer:**

I want to mention two very useful functions for creating
sequences of numbers within a specified range, namely, arange and
linspace. NumPy’s arange function follows the same syntax as Python’s
range objects: If two arguments are provided, the first argument
represents the start value and the second value defines the stop value
of a half-open interval:

Numpy also has two useful functions for creating sequences of numbers:
`arange` and `linspace`.

The `arange` function accepts three arguments, which define the start
value, stop value of a half-open interval, and step size. (The default
step size, if not explicitly specified, is 1; the default start value,
if not explicitly specified, is 0.)

The `linspace` function is similar, but we can specify the number of
values instead of the step size, and it will create a sequence of evenly
spaced values.

In [15]:
f = np.arange(10,50,5)   # Create an array of values starting at 10 in increments of 5
print(f)

[10 15 20 25 30 35 40 45]

Note this ends on 45, not 50 (does not include the top end of the interval).

In [16]:
g = np.linspace(0., 1., num=5)
print(g)

[0.   0.25 0.5  0.75 1.  ]

#### Exercise 5 

a) Create a vector with values ranging from 10 to 49

**Answer:**

b) Create a vector that has 5 elements between 10 and 50

**Answer:**

### Basic Operators

What makes working with `numpy` so powerful and convenient is that it
comes with many *vectorized* math functions for computation over
elements of an array. These functions are highly optimized and are
*very* fast - much, much faster than using an explicit `for` loop.

For example, let’s create a large array of random values and then sum it
both ways. We’ll use a `%%time` *cell magic* to time them.a = np.random.random(100000000)

In [17]:
%%time
x = np.sum(a)

CPU times: total: 0 ns
Wall time: 998 µs

In [18]:
%%time
x = 0 
for element in a:
  x = x + element

CPU times: total: 0 ns
Wall time: 0 ns

Look at the “Wall Time” in the output - note how much faster the vectorized version of the operation is! This type of fast computation is a major enabler of machine learning, which requires a lot of computation.

Whenever possible, we will try to use these vectorized operations.

Some mathematic functions are available both as operator overloads and
as functions in the numpy module.

For example, you can perform an elementwise sum on two arrays using
either the + operator or the `add()` function.

![](http://jalammar.github.io/images/numpy/numpy-arrays-adding-1.png)

![](http://jalammar.github.io/images/numpy/numpy-matrix-arithmetic.png)

In [19]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

# Elementwise sum; both produce the array
print(x + y)
print(np.add(x, y))

[[ 6.  8.]
 [10. 12.]]
[[ 6.  8.]
 [10. 12.]]

And this works for other operations as well, not only addition:

![](http://jalammar.github.io/images/numpy/numpy-array-subtract-multiply-divide.png)

In [20]:
# Elementwise difference; both produce the array
print(x - y)
print(np.subtract(x, y))

[[-4. -4.]
 [-4. -4.]]
[[-4. -4.]
 [-4. -4.]]

In [21]:
# Elementwise product; both produce the array
print(x * y)
print(np.multiply(x, y))

[[ 5. 12.]
 [21. 32.]]
[[ 5. 12.]
 [21. 32.]]

In [22]:
# Elementwise division; both produce the array
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
print(x / y)
print(np.divide(x, y))

[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]

In [23]:
# Elementwise square root; produces the array
# [[ 1.          1.41421356]
#  [ 1.73205081  2.        ]]
print(np.sqrt(x))

[[1.         1.41421356]
 [1.73205081 2.        ]]

In [24]:
# Elementwise exponential power; produces array 
#[[ 2.71828183  7.3890561 ]
#[20.08553692 54.59815003]]
print(np.exp(x))

[[ 2.71828183  7.3890561 ]
 [20.08553692 54.59815003]]

In [25]:
np.round(np.exp(x)) #Round an array to the given number of decimals.;elementwise

array([[ 3.,  7.],
       [20., 55.]])

In [26]:
np.ceil(np.exp(x)) #Return the ceiling of the input, element-wise.

array([[ 3.,  8.],
       [21., 55.]])

In [27]:
np.floor(np.exp(x)) #Return the floor of the input, element-wise.

array([[ 2.,  7.],
       [20., 54.]])

You can find out more functions from [here](https://numpy.org/doc/stable/user/quickstart.html#basic-operations).

Note that `*` operator is not a matrix multipication operator in contrast to other programming languages like MATLAB.  `dot()` function instead is used to compute inner products of vectors, to multiply a vector by a matrix, and to multiply matrices. `dot()` is available both as a function in the numpy module
and as an instance method of array objects:

![](http://jalammar.github.io/images/numpy/numpy-matrix-dot-product-1.png)

In [28]:
x = np.array([[1,2],[3,4]])
y = np.array([[5,6],[7,8]])

v = np.array([9,10])
w = np.array([11, 12])

print(x)

print(y)

print(v)

print(w)

[[1 2]
 [3 4]]
[[5 6]
 [7 8]]
[ 9 10]
[11 12]

In [29]:
# Inner product of vectors; both produce 219
print(v.dot(w))
print(np.dot(v, w))

219
219

You can also use the `@` operator which is equivalent to numpy's `dot`
operator.

In [30]:
print(v @ w)

219

#### Exercise 6 

Multiply a 5x3 matrix by a 3x2 matrix (real matrix product) where the all elements in both matrices are 1. 

**Answer:**

In [31]:
m1 = np.ones((5,3))
m1
m2 = np.ones((3,2))
m2
m1@m2

array([[3., 3.],
       [3., 3.],
       [3., 3.],
       [3., 3.],
       [3., 3.]])

#### Mathematical and Statistical Functions 

Numpy also provides many useful functions for performing computations on arrays, such as `min()`, `max()`, `sum()`,`mean()`,`median()`, `quantile()` and others:

You can see the full list from [here](https://numpy.org/doc/stable/reference/routines.math.html)

![](http://jalammar.github.io/images/numpy/numpy-matrix-aggregation-1.png)

In [32]:
x = np.array([[1, 2], [3, 4], [5, 6]])

print(x)

[[1 2]
 [3 4]
 [5 6]]

In [33]:
print(np.min(x))  # Show min of all elements; prints "1"

1

In [34]:
print(np.max(x))  # Show max of all elements; prints "6"

6

In [35]:
print(np.mean(x))  # Compute the mean of the all elements; prints "3.5"

3.5

$\frac{\sum_{i=1}^{n=6} i}{6} = 3.5$

In [36]:
print(np.median(x))  # Compute the median of the all elements; prints "3.5"

3.5

In [37]:
print(np.quantile(x, 0.75))  # Compute the 3rd quartile of the all elements; prints "4.75"

4.75

In [38]:
print(np.std(x))  # Compute the standard deviation of the all elements; prints "1.708"

1.707825127659933

In [39]:
print(np.sum(x))  # Compute sum of all elements; prints "21"

21

In [40]:
print(np.cumsum(x))  # Compute cumulative sum of all elements; prints "21"

[ 1  3  6 10 15 21]

Now, let's see how the correlating function works.

In [41]:
a = np.array([0.45959958, 0.1613048 , 0.76000473, 0.07536241, 0.60232491,
       0.00167602, 0.71653501, 0.40927931, 0.78030462, 0.15509362])
b = np.array([7.17485455, 5.50089164, 7.35266241, 5.64972889, 7.62871573,
       5.01298309, 7.57177999, 6.81378627, 7.3785654 , 5.79279215])

In [42]:
np.cov(a,b)

array([[0.08872592, 0.28013513],
       [0.28013513, 0.98124247]])

In [43]:
np.corrcoef(a,b)

array([[1.        , 0.94941078],
       [0.94941078, 1.        ]])

Not only can we aggregate all the values in a matrix using these
functions, but we can also aggregate across the rows or columns by using
the `axis` parameter:

![](http://jalammar.github.io/images/numpy/numpy-matrix-aggregation-4.png)

In [44]:
x = np.array([[1, 2], [5, 3], [4, 6]])

print(np.max(x, axis=0))  # Compute max of each column; prints "[5 6]"

[5 6]

In [45]:
print(np.max(x, axis=1))  # Compute max of each row; prints "[2 5 6]"

[2 5 6]

In [46]:
print(np.mean(x, axis=1))  # Compute mean of each row; prints "[1.5 4  5]"

[1.5 4.  5. ]

```np.sort``` returns the sorted copy of the array.

In [47]:
a

array([0.45959958, 0.1613048 , 0.76000473, 0.07536241, 0.60232491,
       0.00167602, 0.71653501, 0.40927931, 0.78030462, 0.15509362])

In [48]:
np.sort(a) #from smallest to largest

array([0.00167602, 0.07536241, 0.15509362, 0.1613048 , 0.40927931,
       0.45959958, 0.60232491, 0.71653501, 0.76000473, 0.78030462])

In [49]:
np.sort(a)[::-1] #from largest to smallest

array([0.78030462, 0.76000473, 0.71653501, 0.60232491, 0.45959958,
       0.40927931, 0.1613048 , 0.15509362, 0.07536241, 0.00167602])

**Extra** 

You can generate order your data in a random order.

In [50]:
np.random.shuffle(a)
a

array([0.15509362, 0.40927931, 0.60232491, 0.00167602, 0.07536241,
       0.71653501, 0.45959958, 0.1613048 , 0.78030462, 0.76000473])

#### **Exercise 7** 

Create a 1D array having 10 elements. You can use .random function.

Calculate the five number summaries of the array.

**Answer:**

In [51]:
ex2 = np.random.random(10)
ex2

array([0.42453272, 0.43628588, 0.62335757, 0.97146917, 0.45388479,
       0.82996308, 0.50958942, 0.64671191, 0.00916139, 0.37913221])

In [52]:
print(ex2.min())
print(np.quantile(ex2,0.25))
print(np.median(ex2))
print(np.quantile(ex2,0.75))
print(np.max(ex2))

0.009161392673444513
0.4274710069776885
0.48173710592371627
0.640873323978173
0.9714691679156967

#### **Array Indexing and Slicing**

If you are familiar with Python's standard list indexing, indexing in NumPy will feel quite familiar. It offers several ways to index into arrays.

In a one-dimensional array, the value (counting from zero) can be accessed by specifying the desired index in square brackets, just as with Python lists:

![](http://jalammar.github.io/images/numpy/numpy-array-slice.png)

And you can index and slice numpy arrays in multiple dimensions. If
slicing an array with more than one dimension, you should specify a
slice for each dimension using a comma-separated tuple of indices:

![](http://jalammar.github.io/images/numpy/numpy-matrix-indexing.png)

In [53]:
x1 = np.random.random(10) #create one dimensional array
x1

array([0.92999465, 0.01661108, 0.74485131, 0.09094147, 0.42609442,
       0.89740487, 0.76464819, 0.86510197, 0.77900209, 0.54856054])

In [54]:
x1[0]

0.9299946474454238

In [55]:
x1[4]

0.4260944215655008

In [56]:
x1[0:2]

array([0.92999465, 0.01661108])

In [57]:
x1[len(x1)-1] #the accessing the last entry

0.5485605432937505

In [58]:
x1[-1]

0.5485605432937505

In [59]:
x1[-2]

0.779002092215601

As stated above, you can use comma seperated tupples for multidimensional array.

In [60]:
# Create the following rank 2 array with shape (3, 4)
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [61]:
# Create the following rank 2 array with shape (3, 4)
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [62]:
# Use slicing to pull out the subarray showng the (2,3)^th element of the array
a[1,2]

7

Two ways of accessing the data in the middle row of the array. Mixing integer indexing with slices yields an array of lower rank, while using only slices yields an array of the same rank as the original array:

In [63]:
row_r1 = a[1, :]    # Rank 1 view of the second row of a  
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a
row_r3 = a[[1], :]  # Rank 2 view of the second row of a
print(row_r1, row_r1.shape)
print(row_r2, row_r2.shape)
print(row_r3, row_r3.shape)

[5 6 7 8] (4,)
[[5 6 7 8]] (1, 4)
[[5 6 7 8]] (1, 4)

In [64]:
# We can make the same distinction when accessing columns of an array:
col_r1 = a[:, 1]
col_r2 = a[:, 1:2]
print(col_r1, col_r1.shape)
print()
print(col_r2, col_r2.shape)

[ 2  6 10] (3,)

[[ 2]
 [ 6]
 [10]] (3, 1)

In [65]:
# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]
print(b)

[[2 3]
 [6 7]]

**Integer array indexing**: When you index into numpy arrays using slicing, the resulting array view will always be a subarray of the original array. In contrast, integer array indexing allows you to construct arbitrary arrays using the data from another array. Here is an example:

In [66]:
a = np.array([[1,2], [3, 4], [5, 6]])

a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [67]:
# An example of integer array indexing.
# The returned array will have shape (3,) and 
print(a[[0, 1, 2], [0, 1, 0]])

# The above example of integer array indexing is equivalent to this:
print(np.array([a[0, 0], a[1, 1], a[2, 0]]))

[1 4 5]
[1 4 5]

#### **Exercise 8.1** 

Create a sequence consisting of numbers between 0 and 9. 

**Hint:** Use `np.arange()`

In [68]:
a = np.arange(0,10,1)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**a) Pull out the second element.**

In [69]:
a[1]

1

**b) Pull out the first 5 elements**

In [70]:
a[0:5]

array([0, 1, 2, 3, 4])

#### **Exercise 8.2** 

Create the following 2D Array. 
```
array([[12,  5,  2],
       [ 7,  6,  8]])
```

In [71]:
ex_32 = np.array([[12,  5,  2],
       [ 7,  6,  8]])
ex_32

array([[12,  5,  2],
       [ 7,  6,  8]])

**a) Shows the third column of the array**

In [72]:
ex_32[:,2]

array([2, 8])

**b) Shows all rows and first two columns**

In [73]:
ex_32[:,0:2]

array([[12,  5],
       [ 7,  6]])

In [74]:
a = np.array([[1,2], [3, 4], [5, 6]])

a

array([[1, 2],
       [3, 4],
       [5, 6]])

A slice of an array is a view into the same data, so modifying it will modify the original array.

In [75]:
print(a[0, 1])
b[0, 0] = 77    # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])

2
2

In [76]:
a = np.array([3,4,5])
a

array([3, 4, 5])

In [77]:
a[1] = 121342141
a

array([        3, 121342141,         5])

#### **Exercise 9**

Consider the 2D array in Exercise 3.2

**a) Replace the first element of the array by 3**

In [78]:
ex_32[0,0] = 3

In [79]:
ex_32

array([[3, 5, 2],
       [7, 6, 8]])

**b) Replace the second row by  [1,6,5]**

In [80]:
ex_32[1,:] = np.array([1,6,5])
ex_32

array([[3, 5, 2],
       [1, 6, 5]])

**Boolean array indexing**: Boolean array indexing lets you pick out arbitrary elements of an array. Frequently this type of indexing is used to select the elements of an array that satisfy some condition. Here is an example:

In [81]:
a = np.array([[1,2], [3, 4], [5, 6]])

a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [82]:
bool_idx = (a > 2)  # Find the elements of a that are bigger than 2;
                    # this returns a numpy array of Booleans of the same
                    # shape as a, where each slot of bool_idx tells
                    # whether that element of a is > 2.

print(bool_idx)

[[False False]
 [ True  True]
 [ True  True]]

In [83]:
# We use boolean array indexing to construct a rank 1 array
# consisting of the elements of a corresponding to the True values
# of bool_idx
print(a[bool_idx])

# We can do all of the above in a single concise statement:
print(a[a > 2])

[3 4 5 6]
[3 4 5 6]

In [84]:
bbb = np.random.random(5)

In [85]:
bbb

array([0.09639114, 0.11145744, 0.53935786, 0.97046017, 0.55244744])

In [86]:
bbb[bbb>0.4]

array([0.53935786, 0.97046017, 0.55244744])

#### Exercise 10

Create a 1D array by executing the given code.

In [87]:
data = np.array([0.59910553,0.19892384,0.42800147,0.67696757,0.34828451,0.69517928,
0.13703289,0.51119015,0.48787451,0.57731085,0.23286820,0.41338543,
0.65633721,1.35069021,0.12212476,0.47460029,0.26618002,1.20542218,
0.71538627,0.20428730,0.13221638,0.56680370,0.32725263,0.29339787,
0.07488558,0.51300380,0.08008302,0.14898439,1.71885703,0.09566642,
0.85223586,0.45847046,0.23882542,0.41942143,0.54160489,0.48413253,
0.62215659,1.83152943,0.10104083,0.92777223,0.25699445,0.22967180,
0.40207172,0.13048873,0.36742793,0.28115245,1.95182640,1.61350926,
0.57133538,0.20487397])

Determine whether data has outlier or not using 1.5 IQR rule. 

**Answer:**

In [88]:
q1 = np.quantile(data,0.25)
q3 = np.quantile(data,0.75)
iqr = q3-q1 
upper = q3 + 1.5*iqr
lower = q1 - 1.5*iqr 

data[np.logical_or(data<lower, data>upper)]

array([1.35069021, 1.20542218, 1.71885703, 1.83152943, 1.9518264 ,
       1.61350926])

**```take``` and ```put```**

```np.take``` takes elements from an array along an axis.

In [89]:
a = np.array([4, 3, 5, 7, 6, 8])

In [90]:
indices = [0, 1, 4]
np.take(a, indices)

array([4, 3, 6])

In [91]:
a[[0, 1, 4]]

array([4, 3, 6])

For multi-dimensional arrays, you can use ```axis``` argument in function. ```axis = 0 ``` indicates rows, ```axis=1``` indicates columns for 2D arrays.

In [92]:
b  = np.array([[2,6,8],[5,12,17]])
b

array([[ 2,  6,  8],
       [ 5, 12, 17]])

In [93]:
np.take(b,[1],axis = 0)

array([[ 5, 12, 17]])

In [94]:
np.take(b,[1],axis = 1)

array([[ 6],
       [12]])

```np.put``` replaces specified elements of an array with given values.

In [95]:
a

array([4, 3, 5, 7, 6, 8])

In [96]:
np.put(a,[0],189)
a

array([189,   3,   5,   7,   6,   8])

In [97]:
a[0] = 189

### Manipulating Array

Apart from computing mathematical functions using arrays, we frequently
need to reshape or otherwise manipulate data in arrays. The simplest
example of this type of operation is transposing a matrix; to transpose
a matrix, simply use the T attribute of an array object.

![](http://jalammar.github.io/images/numpy/numpy-transpose.png)

In [98]:
x = np.array([[1, 2], [3, 4], [5, 6]])

print(x)
print("transpose\n", x.T)

[[1 2]
 [3 4]
 [5 6]]
transpose
 [[1 3 5]
 [2 4 6]]

In [99]:
v = np.array([[1,2,3]])
print(v )
print("transpose\n", v.T)

[[1 2 3]]
transpose
 [[1]
 [2]
 [3]]

In more advanced use case, you may find yourself needing to change the
dimensions of a certain matrix. This is often the case in machine
learning applications where a certain model expects a certain shape for
the inputs that is different from your dataset. numpy's `reshape()`
method is useful in these cases.

![](http://jalammar.github.io/images/numpy/numpy-reshape.png)

A common task in this class will be to convert a 1D array to a 2D array,
and vice versa. We can use `reshape()` for this.

For example, suppose we had this 2D array, but we need to pass it to a
function that expects a 1D array.

In [100]:
w = np.array([[1],[2],[3]])
print(w)
w.shape

[[1]
 [2]
 [3]]

(3, 1)

We can remove the “unnecessary” extra dimension with

In [101]:
y = w.reshape(-1,)
print(y)
y.shape

[1 2 3]

(3,)

Note that we can pass -1 as one dimension and numpy will infer the
correct size based on our matrix size!

There’s also a `squeeze()` function that removes *all* of the
“unnecessary” dimensions (dimensions that have size 1) from an array:

In [102]:
z = w.squeeze()
print(z)
z.shape

[1 2 3]

(3,)

To go from a 1D to 2D array, we can just add in another dimension of
size 1:

In [103]:
y.reshape((-1,1))

array([[1],
       [2],
       [3]])

Another common task is to combine multiple arrays and create one array. `concatenate()` function essentially combines NumPy arrays together

![image.png]()

In [104]:
x=np.array([[1,2],[3,4]])  
y=np.array([[12,30]]) 
print(x)
print(y)

[[1 2]
 [3 4]]
[[12 30]]

In [105]:
z=np.concatenate((x,y))  
z

array([[ 1,  2],
       [ 3,  4],
       [12, 30]])

In [106]:
x=np.array([[1,2],[3,4]])  
y=np.array([[12,30]])  
z=np.concatenate((x,y), axis=0)  
z

array([[ 1,  2],
       [ 3,  4],
       [12, 30]])

In [107]:
x=np.array([[1,2],[3,4]])  
y=np.array([[12],[30]])  
x
y

array([[12],
       [30]])

In [108]:
z=np.concatenate((x,y), axis=1)  
z

array([[ 1,  2, 12],
       [ 3,  4, 30]])

In [109]:
x=np.array([[1,2],[3,4]])  
y=np.array([[12,30]])  
z=np.concatenate((x,y.T), axis=1)  #take the transpose to create a column array
z

array([[ 1,  2, 12],
       [ 3,  4, 30]])

#### **Exercise 6** 

Write a NumPy program to create to concatenate two given arrays of shape (2, 2) and (2,1). 

You are free to select the elements. 

**Answer:**

In [110]:
import numpy as np 
nums1 = np.array([[4.5, 3.5],
                 [5.1, 2.3]])
nums2 = np.array([[1],
                  [2]])
print("Original arrays:")
print(nums1)
print(nums2)
print("\nConcatenating the said two arrays:")
print(np.concatenate((nums1, nums2), axis=1))

Original arrays:
[[4.5 3.5]
 [5.1 2.3]]
[[1]
 [2]]

Concatenating the said two arrays:
[[4.5 3.5 1. ]
 [5.1 2.3 2. ]]

**Extra** 

You can generate integers randomly.

In [111]:
np.random.randint(1,5,2) #(min,max,size)

array([4, 4])

In [112]:
np.random.randint(3,15,4) #(min,max,size)

array([ 3, 10,  9,  5])

You can generate same random numbers by using seed. You can write any number in the seed.

In [113]:
np.random.seed(456)
np.random.random(5)

array([0.24875591, 0.16306678, 0.78364326, 0.80852339, 0.62562843])

In [114]:
np.random.random(5)

array([0.60411363, 0.8857019 , 0.75911747, 0.18110506, 0.15016932])

In [115]:
np.random.seed(456)
np.random.random(5)

array([0.24875591, 0.16306678, 0.78364326, 0.80852339, 0.62562843])